@font-face {
    font-family: Facebook;
    src: url("./FACEBOLF.OTF");
}

@font-face {
    font-family: Madeleina;
    src: url("./Madeleina Sans.otf")
}

@font-face {
    font-family: Quicksand;
    src: url("./Quicksand Book.otf")
}

h1 {
    font-family: Facebook;
}

h2 {
    font-family: Madeleina;
    font-size: 48px;
}

button {
    font-family: Quicksand;
}

li {
    font-family: Madeleina;
    font-size: 32px;
    background-color: #f7f7f7;
    padding: 12.5px;
}

.subtext {
    font-family: Madeleina;
    font-size: 24px;
}
.centered-text {
    text-align: center;
}

.white-text {
    color: white;
}

.fb-blue {
    background-color: #3b5998;
}

.main-header {
    padding: 50px;
    font-size: 100px;
}

.fb-lightBlue {
    background-color: #8b9dc3;
}

.fb-light {
    background-color: #dfe3ee;
}

.padded {
    padding-top: 25px;
    padding-bottom: 25px;
}